
body {
  margin: 0;
  height: 100%;
}

.header {
  width:100%;
  height: 300px;
  background-color: #69C9CA;
}

.header .logo {
  height: 150px;
  margin-left:
}

.certificates {
  font: Helvetica, sans-serif;
}

.footer {
  width: 80%;
  height: 120px;
  background-color: #278BAB;
  bottom: 0;
  margin-left: 50%;
  margin-bottom: 4%;
  transform: translate(-50%, -4%);
  position: absolute;
}

.footer_button {

  height: 3rem;
  font-size: 3rem;
  margin-left: 50%;
  margin-top: 4%;
  transform: translate(-50%, -5%);

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
}
