<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../public/main.css">
    <link rel="stylesheet" href="../../public/index.css">
    <title>App-raisal</title>
  </head>
  <body>
    <header class="header">
      <img src="../../public/images/logo.svg" alt="logo" class="logo"/>
      <p class="title">Certificates</p>
    </header>
    <section class="certificates">
      {{{content}}}

    </section>
    <footer class="footer">
      <form method="post" enctype="multipart/form-data" action="/newfile">
        <label for="default-file" class="custom-file-upload">Add certificate</label>
        <input type="file" name="file" id="default-file"/>
        <input type="submit" value="submit" name="submit" class="submit"/>

      </form>
    </footer>
  </body>
</html>
